#info_box {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f0f2f4;
  border-radius: 8px;
  margin-bottom: 57px;
  padding: 16px 0px;
}
#info_img {
  align-self: flex-start;
  margin-left: 16px;
}

#text_list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#info_text {
  height: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }
}
