#info_box {
  width: 100%;
  min-height: 58px;
  background-color: #f0f2f4;
  border-radius: 8px;
  margin-bottom: 57px;
  display: flex;
  padding: 8px 0;
}

#info_img {
  width: 24px;
  height: 24px;
  margin: 17px;
  margin: 13px 10px 8px 16px;
}
#textList {
  display: flex;
  flex-direction: column;
}
#info_text {
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 6px;
}
#info_text:first-child {
  margin: 15px 0 10px 0;
}
