$border-color: #e2e4e5;
#select_sub_title {
  font-size: 14px;
  font-weight: 400;
  color: #242426;
  margin: 0px 32px 15px 32px;
  font-family: "GimpoGothicBold00";
}
#select_list {
  border-bottom: 1px solid $border-color;
  display: block;
  margin: 0px 32px 32px 32px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 13px;
  position: relative;
}
#option_title {
  width: 100%;
}
#option_list {
  position: absolute;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  background-color: #f5d5cffa;
}
#option_text {
  padding-top: 8px;
  border-bottom: 1px solid $border-color;
  padding-left: 10px;
}
