#subTitle {
  width: 1403px;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  margin: 32px 0px 2px 32px;
  color: #242731;
  font-family: "GimpoGothicBold00";
}

#explanation {
  width: 1403px;
  height: 16px;
  font-size: 12px;
  font-weight: 300;
  margin: 0px 0px 32px 32px;
  color: #575f6e;
}
