$border-color: #e2e4e5;
#sub_tilte {
  font-size: 14px;
  font-weight: 400;
  color: #242426;
  margin: 0px 32px 15px 32px;
  font-family: "GimpoGothicBold00";
}
#text_box {
  height: 33px;
  border-bottom: 1px solid $border-color;
  margin: 0px 32px 32px 32px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 13px;
}
