#bar {
  width: 100%;
  height: 12px;
  background-color: aqua;
  margin-bottom: 80px;
}
#check_box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 32px;
}
