#intro_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#intro_title {
  font-size: 130px;
  font-weight: 700;
  margin: 450px 0px 90px 0px;
  font-family: "GimpoGothicBold00";
}
